.page {
  background-color: rgba(248, 248, 248, 1);
  position: relative;
  overflow: hidden;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}
.sec1 {
  width: 100%;
  background-color: rgba(255, 251, 246, 1);
}

.nav-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 72px;
  margin-bottom: -72px;
  background: #fff; /* #fffbf6; */
}
.logo {
  display: block;
  width: 72px;
  height: 72px;
  background: transparent;
}

nav.menu {
  display: inline-flex;
}
nav.menu > a {
  display: inline-block;
  color: rgba(55, 55, 55, 1);
  font-size: 16px;
  font-family: ArialMT;
  line-height: 20px;
}
nav.menu > a + a {
  margin-left: 4em;
}
.sec1_2 {
  margin-top: 35px;
  padding-top: 65px;
  padding-bottom: 65px;
}

._img1 {
  margin-top: 75px;
  width: 222px;
  height: 56px;
  background: url(./img/1.png) no-repeat center center;
  background-size: contain;
}
._img2 {
  height: 700px;
  background: url(./img/2.png) no-repeat center center;
  background-size: cover;
}

.sec2 {
  background-color: #fff;
  padding-top: 108px;
  padding-bottom: 138px;
}
.sec2_1 {
  margin-bottom: 85px;
}
.sec2_1 > div:nth-child(2) {
  padding-left: 50px;
}
._img3 {
  width: 108px;
  height: 122px;
  background: url(./img/3.png) no-repeat center center;
  background-size: contain;
}

._img4 {
  width: 100%;
  height: 460px;
  margin-top: 85px;
  background: url(./img/4.png) no-repeat center center;
  background-size: cover;
}

._img5 {
  height: 448px;
  background: url(./img/5.png) no-repeat center center;
  background-size: contain;
}
._img6 {
  height: 336px;
  background: url(./img/6.png) no-repeat center center;
  background-size: contain;
}

.sec3 {
  padding: 96px 0 172px 0;
  background-color: rgba(255, 251, 246, 1);
}
.sec3_2 {
  margin-top: 84px;
}

.sec4 {
  padding: 102px 0;
  background-color: rgba(55, 55, 55, 1);
  color: #fff !important;
}
.sec4_1 {
  text-align: center;
}
.sec4_1 span {
  color: #fff !important;
}
.split_line {
  width: 100%;
  height: 2px;
  background: url(./img/8.png) repeat-x center;
}
._img7 {
  height: 410px;
  background: url(./img/7.png) no-repeat center center;
  background-size: cover;
  margin-top: 113px;
  margin-bottom: 127px;
}
.sec4_2 {
  padding-top: 126px;
}
.sec4_2 ._text {
  color: #fff;
}

.col2 {
  width: 50%;
}
.text_7 {
  overflow-wrap: break-word;
  color: rgba(55, 55, 55, 1);
  font-size: 18px;
  text-transform: uppercase;
  font-family: ArialMT;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

._text-mxw {
  max-width: 65%;
}
._text_h1 {
  color: rgba(55, 55, 55, 1);
  font-size: 80px;
  font-family: Arial-Black;
  text-align: left;
  white-space: nowrap;
  line-height: 116px;
}
.flex-col ._text_h1 + ._text_h1 {
  margin-top: -0.325em;
}
._text_hl {
  color: rgba(249, 211, 163, 1);
}
._text_h2 {
  color: rgba(55, 55, 55, 1);
  font-size: 54px;
  font-family: Arial-Black;
  text-align: left;
  white-space: nowrap;
  line-height: 76px;
}
._text_h3 {
  color: rgba(255, 251, 246, 1);
  font-size: 36px;
  font-family: Arial-Black;
  text-align: left;
  white-space: nowrap;
  line-height: 50px;
  margin-bottom: 45px;
}
.text_5 {
  height: 116px;
  overflow-wrap: break-word;
  font-size: 80px;
  font-family: Arial-Black;
  text-align: left;
  white-space: nowrap;
  line-height: 116px;
  /* margin-top: -28px; */
}

._text_xl {
  overflow-wrap: break-word;
  color: rgba(55, 55, 55, 1);
  font-size: 28px;
  font-family: ArialMT;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  /* margin-top: 18px; */
}
._text {
  overflow-wrap: break-word;
  color: rgba(55, 55, 55, 1);
  font-size: 24px;
  font-family: ArialMT;
  text-align: left;
  line-height: 34px;
}

._lnk {
  overflow-wrap: break-word;
  color: rgba(249, 211, 163, 1);
  font-size: 28px;
  font-family: ArialMT;
  text-align: left;
  white-space: nowrap;
  line-height: 36px;
}
._mttl {
  margin-bottom: 20px;
}

.icon_lnks {
  display: flex;
}
.icon_lnks > a {
  display: block;
  width: 54px;
  height: 54px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon_lnks > a + a {
  margin-left: 1rem;
}
.footer {
  background: #fffbf6;
  height: 88px;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-family: ArialMT;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}
.foot_link > a + a {
  margin-left: 1rem;
}
.copyright {
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
  .nav-header {
    height: 44px;
    margin-bottom: -44px;
  }
  .nav-header nav.menu > a {
    font-size: 0.875rem;
  }
  .nav-header nav.menu > a + a {
    margin-left: 1rem;
  }

  section.flex-col {
    flex-direction: column;
  }
  section.flex-col .col2 {
    width: 100%;
  }
  .sec3_1.flex-row,
  .sec3_2.flex-row,
  .sec4_2.flex-row,
  .sec1_2.flex-row {
    flex-direction: column;
  }

  .sec1_2 > div:nth-child(2) {
    margin-top: 2rem;
  }

  .sec1_2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .sec2 {
    padding-top: 3rem;
    padding-bottom: 3.5rem;
  }
  .sec2_1 {
    margin-bottom: 2rem;
  }
  .sec2_1 > div:nth-child(2) {
    padding-left: 1rem;
  }
  .sec3 {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
  }
  .sec3_2 {
    margin-top: 3rem;
  }
  .sec4 {
    padding: 3rem 0;
  }
  .sec4_2 {
    padding-top: 3rem;
  }
  .sec4_2 > div:nth-child(2) {
    padding-top: 3rem;
  }
  ._img1 {
    margin-top: 0.875rem;
    width: 40%;
    height: 30px;
  }
  ._img2 {
    height: 32vh;
    background-size: contain;
  }
  ._img3 {
    width: 58px;
    height: 65px;
  }
  ._img4 {
    width: 100%;
    height: 150px;
    margin-top: 0;
    background-size: contain;
  }
  ._img5 {
    height: 180px;
  }
  ._img6 {
    height: 25vh;
  }
  ._img7 {
    height: 25vh;
    background-size: contain;
    margin: 0;
  }
  ._text-mxw {
    max-width: 100%;
  }
  ._text_h1 {
    font-size: 40px;
    line-height: 48px;
  }
  ._text_h2 {
    font-size: 30px;
    line-height: 34px;
  }
  ._text_h3 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 1.5rem;
  }

  ._text_xl {
    font-size: 18px;
    line-height: 24px;
  }
  ._text {
    font-size: 16px;
    line-height: 24px;
  }
  ._lnk {
    font-size: 1rem;
  }
  .icon_lnks > a {
    width: 1.5rem;
    height: 1.5rem;
  }
  .icon_lnks > a:not(:first-child) {
    margin-left: 0.875rem;
  }
  .footer {
    font-size: 14px;
  }
  .footer .flex-row {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer .copyright {
    margin-top: 0.5rem;
    margin-left: 0;
  }
}
